<section class="row mb-3">
  <article class="text-center col-12 col-sm-5">
    <section class="text-center">
      <img
        src="assets/images/photo.jpeg"
        alt="foto de jadson"
        class="img-fluid rounded-4 border border-4 border-dark mb-3"
        style="height: 20rem"
      />
    </section>
  </article>
  <article class="text-center col-12 col-sm-7">
    <section class="font-sm">
      <p class="p-0 m-0">Olá, me chamo</p>
      <h3>JADSON FIRMO OLIVEIRA</h3>
      <p class="text-justify">
        Sou graduado em Engenharia de Computação pela Universidade Estadual de
        Feira de Santana (UEFS, 2018), e atuo como analista de sistemas e
        desenvolvedor full-stack, com experiência no mercado de trabalho desde
        2015.
      </p>
      <p class="text-justify">
        Atualmente sou analista desenvolvedor na Autoglass Brasil.
      </p>
    </section>
    <section class="text-center">
      <a
        class="text-dark"
        href="https://github.com/jadsonfirmo"
        target="_blank"
      >
        <em class="contact fa-brands fa-github fa-2x p-2"></em>
      </a>
      <a
        class="text-dark"
        href="https://www.linkedin.com/in/jadsonfirmo"
        target="_blank"
      >
        <em class="contact fa-brands fa-linkedin fa-2x p-2"></em>
      </a>
      <a class="text-dark" href="mailto:jadson.firmo@gmail.com" target="_blank">
        <em class="contact fa fa-envelope fa-2x p-2"></em>
      </a>
    </section>
    <section class="text-center font-sm">
      <p class="p-0 m-0">{{ "@jadsonfirmo" }}</p>
      <p class="p-0 m-0">{{ "jadson.firmo@gmail.com" }}</p>
    </section>
  </article>
</section>
<section class="row mb-5 text-center font-sm">
  <h4 class="pb-3">Minha trajetória profissional</h4>
  <p class="text-justify">
    Iniciei minha jornada no mundo de Desenvolvimento WEB em 2015 ainda dentro
    da própria universidade com um estágio no setor de seleção e admissão, que
    cuidava de todo o processo de vestibulares e seleções internas da
    instituição. Foram 2 anos de muito aprendizado que me fizeram gostar cada
    vez mais da área.
  </p>
  <p class="text-justify">
    Em 2017 parti para um novo desafio de estágio, dessa vez mais voltado para o
    mercado, na Lupalina Calçados, onde tive os primeiros contatos com
    frameworks mais modernos, como o Angular. Foram cerca de 14 meses de muitos
    desafios e novos conhecimentos.
  </p>
  <p class="text-justify">
    Em 2018 ingressei no mundo das startups. Foram quase 3 anos de Bpago (B
    Inovação) voltados principalmente ao setor financeiro e de registro civil.
    Muitos desafios, novas responsabilidades, e muita gente boa que contribuiu
    muito para meu crescimento profissional.
  </p>
  <p class="text-justify">
    Em 2021, migrei para outra startup chamada Vollare, no setor de registros
    imobiliários, que na época tinha parceria com a Bpago. Foram apenas 6 meses,
    mas muito desafiadores e produtivos. Novas tecnologias e metodologias de
    trabalho, e pessoas excelentes na jornada.
  </p>
  <p class="text-justify">
    Em Setembro de 2021, decidi migrar para o mercado de grandes corporações com
    a oportunidade oferecida pela Autoglass.
  </p>
  <p class="text-justify">
    Nessa jornada, encarando novos desafios, aprendendo novas tecnologias e
    tentando contribuir também com o crescimento e aprendizado de meus colegas,
    tenho sempre em mente que:
  </p>
  <p class="text-center">
    "O talento vence jogos, mas só o trabalho em equipe ganha campeonatos."
    (Michael Jordan)
  </p>
</section>
