<section class="content">
  <article class="text-center">
    <p>Olá, meu nome é</p>
    <h1>JADSON FIRMO OLIVEIRA</h1>
    <p>
      Sou engenheiro de computação e atuo como analista de sistemas e
      desenvolvedor full-stack, com experiência no mercado de trabalho desde
      2015.
    </p>
    <p>Atualmente sou analista desenvolvedor na Autoglass Brasil.</p>
  </article>
  <article class="text-center">
    <a class="text-dark" href="https://github.com/jadsonfirmo" target="_blank">
      <em class="fa-brands fa-github fa-3x p-2"></em>
    </a>
    <a
      class="text-dark"
      href="https://www.linkedin.com/in/jadsonfirmo"
      target="_blank"
    >
      <em class="fa-brands fa-linkedin fa-3x p-2"></em>
    </a>
    <a class="text-dark" href="mailto:jadson.firmo@gmail.com" target="_blank">
      <em class="fa fa-envelope fa-3x p-2"></em>
    </a>
  </article>
  <article class="text-center">
    <p>{{ "@jadsonfirmo" }}</p>
    <p>{{ "jadson.firmo@gmail.com" }}</p>
  </article>
</section>
