<main class="main">
  <div class="content">
    <div class="text-center">
      <p>Olá, meu nome é</p>
      <h1>JADSON FIRMO OLIVEIRA</h1>
      <p>
        Sou engenheiro de computação e atuo como analista de sistemas e
        desenvolvedor full-stack, com experiência no mercado de trabalho desde
        2015.
      </p>
      <p>Atualmente sou analista desenvolvedor na Autoglass Brasil.</p>
      <p>Navegue pelo menu para mais informações.</p>
      <p>Abraço! :)</p>
    </div>
  </div>
</main>
