/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap");

@import "src/scss/themes.scss";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}

.border-dark {
  border-color: var(--dark-color) !important;
}

.bg-primary {
  background-color: var(--bg-primary-color) !important;
}

.bg-dark {
  background-color: var(--bg-dark-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.text-muted {
  color: var(--muted-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-justify {
  text-align: justify;
}

.font-sm {
  font-size: 0.9em;
}

.font-xs {
  font-size: 0.8em;
}

.content-main {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .content-main {
    margin-left: 0px;
  }
}

.contact:hover {
  color: #0d6efd;
}
