<section class="content">
  <article class="text-center">
    <h1>Minhas Experiências</h1>
  </article>
  <article class="m-3">
    <ul class="nav flex-column">
      @for(item of experiences; track $index){
      <li class="nav-item mb-4">
        <div>
          <em
            class="fa fa-laptop-code me-2"
            [class]="item.current ? 'text-primary' : 'text-secondary'"
          ></em>
          <span
            [class]="item.current ? 'text-primary h4' : 'text-secondary h6'"
          >
            {{ item.title }}
          </span>
        </div>
        <div>
          <em
            class="fa fa-briefcase me-2"
            [class]="item.current ? 'text-dark' : 'text-secondary'"
          ></em>
          <span [class]="item.current ? 'h5' : 'text-muted h6'">
            {{ item.company }}
          </span>
        </div>
        <div>
          <em
            class="fa fa-calendar-days me-2"
            [class]="item.current ? 'text-dark' : 'text-secondary'"
          ></em>
          <span [class]="item.current ? 'h6' : 'text-muted small'">
            {{ item.period }}
          </span>
        </div>
      </li>
      }
    </ul>
  </article>
</section>
