<section class="content">
  <article class="text-center">
    <h1>Minhas Experiências</h1>
  </article>

  <article class="m-3">
    <p-timeline
      [value]="experiences"
      styleClass="customized-timeline"
      align="left"
    >
      <ng-template pTemplate="marker" let-item>
        <span [class]="item.current ? 'text-primary' : 'text-muted'">
          <em class="fa fa-calendar-days"></em>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-item>
        <section class="mb-4">
          <div>
            <span [class]="item.current ? 'h6' : 'text-secondary font-sm'">
              {{ item.period }}
            </span>
          </div>
          <div>
            <em
              class="fa fa-laptop-code me-2"
              [class]="item.current ? 'text-active' : 'text-secondary'"
            ></em>
            <span [class]="item.current ? 'text-active h4' : 'text-secondary'">
              {{ item.title }}
            </span>
          </div>
          <div>
            <em
              class="fa fa-briefcase me-2"
              [class]="item.current ? 'text-dark' : 'text-secondary'"
            ></em>
            <span [class]="item.current ? 'h5' : 'text-muted'">
              {{ item.company }}
            </span>
          </div>
          <div>
            @for (itemStack of item.stack; track $index) {
            <p-badge
              [value]="itemStack"
              [styleClass]="
                'me-1 mt-2 font-xxs ' + (item.current ? 'bg-ative' : 'bg-muted')
              "
            />
            }
          </div>
        </section>
      </ng-template>
    </p-timeline>
  </article>
</section>
