<!-- Botão para mostrar o menu em telas menores -->
<button
  id="btn-collapse"
  class="btn btn-dark d-md-none m-3"
  type="button"
  (click)="isMenuCollapsed = !isMenuCollapsed"
  aria-controls="menu-collapse"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <i class="fa fa-bars"></i> Menu
</button>

<!-- Menu lateral -->
<nav
  class="bg-dark text-white p-3 position-fixed vh-100 collapse"
  style="min-width: 250px !important"
  [ngClass]="{ show: !isMenuCollapsed }"
>
  <h4 class="text-center">Menu</h4>
  <ul class="nav flex-column">
    @for(item of menu; track $index){
    <li class="nav-item">
      <a
        class="nav-link text-white"
        [routerLink]="item.route"
        routerLinkActive="active-link"
      >
        <em class="fa me-2" [class]="item.icon"></em> {{ item.name }}
      </a>
    </li>
    }
  </ul>
</nav>
